        @font-face {
            font-family: Althea;
            src: url(../fonts/Althea-Regular.ttf);
        }
        @font-face {
            font-family: Blacksword;
            src: url(../fonts/Blacksword.otf);
        }
        body{
            height: 100%;
            padding: 0;
            margin: 0;
            background: url(../img/welcomeback.jpg) 50% 0 fixed no-repeat;
            background-size: cover;
        }
        .firstContainer{
            width: 100%;
            height: 100%;

        }
        .WelcomeFlag{
            width: 350px;
            height: 550px;
            margin: 0 auto;
            background: -webkit-linear-gradient(bottom, rgba(255,255,255,0.7) , rgba(255,255,255,0)); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(bottom, rgba(255,255,255,0.7) , rgba(255,255,255,0)); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(bottom, rgba(255,255,255,0.7) , rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
            background: linear-gradient(to bottom, rgba(255,255,255,0.7) , rgba(255,255,255,0));
            font-family: Blacksword, sans-serif;
        }
        .WelcomeFlag img{
            position: relative;
            top: 40px;
            margin: 0 auto;
            display: block;
        }
        .welcomeTitle{
            text-shadow: -2px 0px 3px black;
            text-align: center;
            font-size: 70px;
            position: relative;
            font-weight: normal;
            font-style: italic;
            color: white;
        }
        header{
            height: 55px;
            width: 100%;
            background-color: rgba(88, 49, 26, 0.17);
            top: 0px;
        }
        .menu{
            width: fit-content;
            height: 55px;
            vertical-align: middle;
            margin: 0 auto;
        }
        .menu ul{
            list-style: none;
            padding: 0;
            margin: 0px;
        }
        .menu li{
            float: left;
            padding: 18.5px 50px;
            cursor: pointer;
            transition: all 0.5s;
        }
        .menu li:hover{
            background: rgba(255,255,255,0.3);
            color: rgb(94, 76, 77);
            transition: all 0.5s;
        }
        .secondContainer{
            width: 100%;
            height: 180px;
            overflow: hidden;
            transform: translate3d(0, 0, 0);
        }
        .banner1{
            width: max-content;
            height: 180px;
            overflow: hidden;
            transform: translate3d(0, 0, 0);
            position: absolute;
        }
        .bannerImg1{
            float: left;
            height: 180px;
            width: 350px;
        }
        .bannerImg1 p{
                margin: 80px auto;
        }


        .banner1 {
            animation: moveSlideshow 12s linear infinite;
        }

        @keyframes moveSlideshow {
            100% {
                transform: translateX(-31.6666%);
            }
        }
        .thirdContainer{
            position: relative;
            top: 20px;
            width: 100%;
            font-family: Althea, sans-serif;
            height: 650px;


            background-color: rgba(255, 255, 255, 0.7);
        }

        #subAbout{
            background-image: url(../img/mano.png);
            background-repeat: no-repeat;
            background-position-x: -85px;
            background-position-y: 160px;
        }
        .fourthContainer{
            position: relative;
            top: 50px;
            width: 100%;
            font-family: Althea, sans-serif;
            height: 650px;
            background-image: url(../img/barco.png);
            background-repeat: no-repeat;
            background-position-x: 300px;
            background-size: cover;

            background-color: rgba(255, 255, 255, 0.7);
        }
        .fiveContainer{
            position: relative;
            top: 110px;
            width: 100%;
            font-family: Althea, sans-serif;
            height: 650px;
            background-color: rgba(255, 255, 255, 0.7);
        }
        .sixContainer{
            position: relative;
            top: 70px;
            width: 100%;
            font-family: Althea, sans-serif;
            height: 950px;
            background-color: rgba(255, 255, 255, 0.7);
        }
        .sevenContainer{
            position: relative;
            top: 90px;
            width: 100%;
            font-family: Althea, sans-serif;
            height: 580px;
            background-color: rgba(255, 255, 255, 0.7);
        }
        .subContainer{
            width: 954px;
            padding: 20px;
            margin: 0 auto;
            font-size: 20px;
            font-family: Althea, sans-serif;
        }
        .subContainer ul{
            line-height: 33px;
            width: 400px;
            margin: 0;
        }
        .title{
            font-size: 60px;
            margin: 0px;
            font-family: Blacksword;
            color: rgb(95, 76, 78);
            text-align: center;
            z-index: 4;
            display: block;
        }
        .title h2{
            margin: 0px;
        }
        .line{
            height: 5px;
            background-color: rgb(105, 199, 227);
            position: relative;
            top: -30px;
            z-index: 2;
            width: 100%;
            float: right;
        }
        .formContact input{
            width: 100%;
            font-size: 22px;
            font-family: Althea;
            margin: 10px;
            background-color: rgba(255,255,255,0.5);
            color: rgb(95, 76, 78);
            border: 1px solid rgb(95, 76, 78);
            padding: 5px;
        }
        .ProductContainer{
            position: relative;
            top: 50px;
            width: 100%;
            font-family: Althea, sans-serif;
            height: 580px;
            background-color: rgba(255, 255, 255, 0.7);
        }
        .formContact textarea{
            width: 100%;
            font-size: 22px;
            font-family: Althea;
            margin: 10px;
            background-color: rgba(255,255,255,0.5);
            color: rgb(95, 76, 78);
            border: 1px solid rgb(95, 76, 78);
            padding: 5px;
        }
        #text1{
            margin-left: 300px;
        }
        #text2{
            margin-left:420px;
        }
        #text3{
            margin-left:450px;
        }
        #text4{
            margin-left:300px;
        }
        #text5{
            margin-left:280px;
        }
        .icons{
            position: absolute;
            height: 100px;
            transition: all 0.5s;
            z-index: 3
        }
        .icons:hover{
            width: 210.52px;
            height: 200px;
            transition: all 0.5s;
        }
        .icons img{
            transition: all 0.5s;
            z-index: 2;
        }

        #spain{
            top: 290px;
            margin-left: 340px;
            transition: all 0.5s;
        }
        #spain:hover{
            top: 210px;
            margin-left: 265px;
            transition: all 0.5s;
        }
        #usa{
            top: 280px;
            margin-left: 150px;
            transition: all 0.5s;
        }
        #usa:hover{
            top: 200px;
            margin-left: 100px;
            transition: all 0.5s;
        }
        #china{
            top: 300px;
            margin-left: 630px;
            transition: all 0.5s;
        }
        #france{
            top: 265px;
            margin-left: 400px;
            transition: all 0.5s;
        }
        #france:hover{
            top: 175px;
            margin-left: 360px;
            transition: all 0.5s;
        }
        #china:hover{
            top: 210px;
            margin-left: 570px;
            transition: all 0.5s;
        }
        .exportList{
            position: relative;
            width: fit-content;
            height: fit-content;
            float: left;
            top: -190px;
            left: 150px;
            z-index: 4;
            background-color: rgba(255,255,255,0.5);
        }
        .exportList ul{
            width: 360px;
            height: fit-content;
        }
        .exportList li{
            float: left;
            margin: 3px 20px;
        }
        .show{
            display: block !important;
            transition: all 0.5s;
        }
        .icons img:hover{
            height: 200px;
            transition: all 0.5s;
        }
        .othersMap{
            background-color: rgba(255,255,255,0.8);
            position: relative;
            top: -180;
            z-index: 1;
        }
        .othersMap img{
            position: absolute;
            top: -150px;
        }
        .othersMap li{
            float: left;
            padding: 3px 20px;
        }
        .othersMap ul{
            width: fit-content;
            height: 100px;
            list-style: none;
            padding: 30px;
        }
        .contactInfo{
            float: left;
            width: 300px;
            padding: 20px;
            position: relative;
            left: 50px;
            top: 50px;
            background-color: rgba(255,255,255,0.7);
        }
        .formContact{
            width: 500px;
            height: 400px;
            float: left;
        }

        /* Slideshow container */
.slideshow-container {
  position: relative;
  margin: 0 auto;
  top: 80px;
}

.mySlides {
    display: none;
    height: 270px;
    width: fit-content;
    margin: 0 auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  font-size: 25px;
  text-shadow: -1px 1px 2px black;
}
.prev{
    font-size: 25px;
    text-shadow: 1px 1px 2px black;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.0s;
  -moz-animation-name: fade;
  -moz-animation-duration: 2.0s;
  animation-name: fade;
  animation-duration: 2.0s;
}
.ProductImg{
    float: left;
    margin: 0px 20px;
    width: 260px;
    height: 260.078px;
    overflow: hidden;
}
.producImg img{
    width: 260px;
    height: auto;
    transition: all 0.5s;
}

.zoom{
    width: 300px;
    height: auto;
    transition: all 0.5s;
    display: block;
    margin: 0 auto;
}
.focusProduct{
    position: absolute;
    top: 5px;
    text-align: center;
    width: 260px;
    height: 260.078px;
    vertical-align: middle;
    font-size: 40px;
    background-color: rgba(1,1,1,0.6);
    display: none;
    font-family: Blacksword;
}
.focusProduct p{
    position: relative;
    top: 50px;
    color: white;
}
.focusProduct button{
    position: relative;
    top: 50px;
    background-color: rgba(255,255,255,0);
    border: 1px solid black;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    transition: all 0.5s;
    font-family: Althea;
    font-weight: bold;
}
#sendbtn{
    position: relative;
    background-color: rgba(255,255,255,0);
    border: 1px solid black;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    transition: all 0.5s;
    font-family: Althea;
    font-weight: bold;
    float: right;
}
#sendbtn:hover{
    padding: 10px;
    color: white;
    background-color: rgba(1,1,1,0.8);
    transition: all 0.5s;
}
.focusProduct button:hover{
    padding: 10px;
    color: white;
    background-color: rgba(1,1,1,0.8);
    transition: all 0.5s;
}
.success{
    width: 100%;
    position: relative;
    color: green;
    background-color: rgba(107, 234, 98, 0.3);
    top: 20px;
    text-align: center;
    padding: 10px;
}
.error{
    width: 100%;
    position: relative;
    color: red;
    background-color: rgba(234, 98, 98, 0.3);
    top: 20px;
    text-align: center;
    padding: 10px;
}
    .modal{
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 10000000; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    .productExport{
        float: left;
        width: 49%;
        text-align: center;
        margin: 0;
        border: 1px solid black;
    }
    .productExport h4{
        margin: 0;
        border-bottom: 1px solid;
        padding: 5px;
    }
    .productExport ul{
        list-style: none;
        padding: 0;
        line-height: 22px;
    }
    .modalContent {
        background-color: #fefefe;
        z-index: 6;
        margin: 0;
        top: 12%;
        position: fixed;
        left: 24%;
        padding: 20px;
        border: 1px solid #888;
        width: 800px;
        box-shadow: 0px 0px 14px 1px black;
        border-radius: 10px;
        font-family: Althea;
    }

    .modalContent img{
        position: relative;
        left: 80px;
    }
    .productSpecs{
        width: 350px;
        float: right;
        position: relative;
        top: 20px;
        right: 25px;
    }

    .productSpecs ul{
        list-style: none;
        padding: 0px;
        line-height: 35px;
        font-size: 20;
        font-family: Althea;
    }
    .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }



@media screen and (max-width: 1366px) {
    #modalop{
        height: -webkit-fill-available;
        height: -moz-fill-available;
        overflow-y: scroll;

    }
    .modalContent{
        top: 1%;
        left: 18%;
    }
}

@media screen and (max-width: 1000px) {
    .title h2{
        font-size: 60px;
    }
    #index{
        padding: 0 20px !important;
    }
    #subAbout{
        background-image: none;
    }
    #subAbout p{
        margin-left: 0px !important;
    }
    .menu li {
        padding: 18.5px 5px ;
    }
    .exportList ul{
        width: 80px !important;
    }
    .modalContent{
        top: 60px !important;
        left: auto !important;
        width: 91% !important;
    }
    .modalContent img{
        position: relative !important;
        display: block !important;
        margin: 0 auto !important;
        height: 150px !important;
        width: auto !important;
        left: 0px !important;
    }
    .productSpecs{
        width: auto !important;
        float:none !important;
        position: relative !important;
        top: 0px !important;
        text-align: center !important;
        right: 0px !important;
        font-size: 15px !important;
    }
    .sevenContainer{
        height: fit-content;
        padding-bottom: 40px;
    }
    .slideshow-container{
        top: 0px;
    }
    .ProductImg{
        float: none;
        margin: 20px auto;
    }
    .mySlides{
        height: fit-content;
    }
    .focusProduct{
        margin-top: -260px;
        top: auto;
    }
    .thirdContainer{
        height: fit-content;
    }
    .fourthContainer{
        background-position-x: 0px;
    }
    .subContainer{
        width: 90%;
        padding: 0px 5%;
    }
    .modalContent{
        top: 5%;
        left: 18%;
    }
    .sixContainer{
        height: 680px;
    }
    .sevenContainer{
        height: fit-content;
        padding-bottom: 40px;
    }
    .slideshow-container{
        top: 0px;
    }
    .ProductImg{
        float: none;
        margin: 20px auto;
    }
    .mySlides{
        height: fit-content;
    }
    #subAbout{
        background-size: 600px;
        background-position-y: 190px;
    }
    #text1{
        margin-left: 200px;
    }
    #text2{
        margin-left: 340px;
    }
    #text3{
        margin-left: 350px;
    }
    #text4{
        margin-left: 0px;
    }
    #text5{
        margin-left: 0px;
    }
    #subMarket{
        width: 400px;
    }
    #usa{
        top:100px;
        margin-left: 40px;
    }
    #usa:hover{
        top: 70px;
        margin-left: 20px;
    }
    #spain{
        top:118px;
        margin-left: 114px;
    }
    #spain:hover{
        top:84px;
        margin-left: 83px;
    }
    #france{
        top: 105px;
        margin-left: 155px;
    }
    #france:hover{
        top: 70px;
        margin-left: 139px;
    }
    #china{
        top: 120px;
        margin-left: 240px;
    }
    #china:hover{
        top: 90px;
        margin-left: 220px;
    }
    .icons{
        height: 80px;
    }
    .icons img:hover{
        height: 120px;
    }
    .icons:hover{
        height: 120px;
    }
    .country:hover{
        height: 120px;
    }
    .country{
        height: 80px;
    }
    .exportList{
        font-size: 16px;
        top: -100px;
        left: 95px;
    }
    .exportList li{
        margin: 3px 13px;
    }
    .othersMap{
        top: -60px;
    }
    .othersMap li{
        font-size: 16px;
        padding: 3px 12px;
    }
    .othersMap ul{
        height: 210px;
    }
    .othersMap img{
        height: 120px;
        top: -90px;
    }
    .formContact{
        width: 100%;
        float: none;
    }
    .fiveContainer{
        height: fit-content;
    }
    .contactInfo{
        float: none;
        width: auto;
        left: 0px;
        top: 0px;
        margin: 0 auto;
        text-align: center;
    }
}

@media screen and (max-width: 600px){
    .WelcomeFlag{
        width: 300px;
    }
    .Map{
        margin-top: 50px;
    }
    .WelcomeFlag img{
        width: 300px !important;
    }
    .menu li {
        font-size: 12px;
        padding: 18.5px 3px !important;
    }
    .subContainer ul{
        width: 85%;
        margin: 0 auto;
        font-size: 16px
    }
    .fourthContainer{
        height: 700px;
    }
    #subAbout{
        font-size: 16px;
    }
    .exportList{
        top: -5px;
        left: 0px;
        width: 150px;
    }
    #subMarket{
        width: 300px !important;
        padding: 0px;
    }
    #usa{
        top:70px !important;
        margin-left: 20px !important;
    }
    #spain{
        top: 78px !important;
        margin-left: 70px !important;
    }
    #france{
        top:67px !important;
        margin-left: 108px !important;
    }
    #china{
        top:76px !important;
        margin-left: 172px !important;
    }
    .othersMap ul{
        height: 290px !important;
    }
}

@media screen and (max-width: 1024px) {
    .exportList ul{
        width: 200px;
    }
    .modalContent{
        top: 5%;
        left: 10%;
    }
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@-moz-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
